body {
	background: #f7f7f9;
	font-size: 1.3rem;
}

.block.block.block.block {
	display: block;
}

.colorPurple {
	color: #54546c;	
}

.menuName.menuName.menuName {
	background-color: #54546c;
	box-shadow: 0 0 1em #54546c;
 }

.sizeMenu {
	width: 35%;
}

.margin {
	margin-top: 7em;
}

.padding.padding {
	padding: 2em;
}


.job.job.job {
	height: 20em;
	padding: 8em;
	background-image: url("../image/computer.jpg");
	background-attachment: fixed;
	background-size: 100%;
}

.familyCode.familyCode.familyCode {
	font-family: 'Source Code Pro', monospace;
}

.slogan {
	font-style: italic;
}
