body{
	font-family: Calibri, sans-serif;
}

.titre{
	background: #54546c;
	color: white;
	font-style: italic;
	margin-top: -20px;
	height: 80px;
}

img.photo{
	position: fixed;
	margin-left: -100px;
}

.contener{
	margin: 0 auto;
	width: 1000px;
}

h1{
	font-family: cursive;
	text-align: center;
}

p{
	font-family: cursive;
	text-align: center;
}


.exp{
	float: left;
	margin: 100px 50px 50px 100px;
	width: 500px;
}

.form{
	float: right;
	margin: 50px 100px 100px 50px;
	width: 500px;
}

.comp{
	clear: both;
	margin: 100px;
	overflow: hidden;
	text-align: center;
	height:200px;
}

.dev{
	margin-left:-500px;
}

.langue{
	margin-top: -100px;
	margin-left: 400px;
}

h2{
	text-align: center;
	color: #54546c;
	font-family: cursive;
}

.pied{
	background: #54546c;
	color: white;
	font-style: italic;
	margin-bottom: -20px;
	height: 80px;
	text-align: center;
}

a{
	text-decoration: none;
	color: white;
}