.background.background.background {
	padding: 10em;
	background-attachment: fixed;
	background-size: 100%;
}

.computer {
	background-image: url("../public/image/computer.jpg");
}

.scenary {
	background-image: url("../public/image/scenary.jpg");
}


.italic {
  font-style: italic;
}

.presentation.presentation {
	margin: 12em 0 9em 0;
}